<p>Employee Registration!</p>


<form #empForm="ngForm">
    <input type="hidden" name="EmpId" [(ngModel)]="service.Employee.EmpId" [value]="service.Employee.EmpId">
    <label>EmpName</label>
    <input type="text" name="EmpName" [(ngModel)]="service.Employee.EmpName" [value]="service.Employee.EmpName"><br>

    <label>EmpSalary</label>
    <input type="text" name="EmpSalary" [(ngModel)]="service.Employee.EmpSalary" [value]="service.Employee.EmpSalary"><br>
    
    <input type="button" (click)="EmployeeAdd(empForm.value)" class="btn btn-success" value="Save" />
</form>


