<p>employeedetails works!</p>


<table class="table-bordered">
    <tr>
        <th>EmpId</th>
        <th>EmpName</th>
        <th>EmpSalary</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let emp of service.AllEmployees">
        <td>{{emp.EmpId}}</td>
        <td>{{emp.EmpName}}</td>
        <td>{{emp.EmpSalary}}</td>
        <td><a class="btn btn-primary btn-sm" (click)="EmployeeEdit(emp.EmpId)">Edit</a>|<a class="btn btn-danger btn-sm" (click)="EmployeeDelete(emp.EmpId)">Delete</a></td>
    </tr>
</table>    

<br>
<app-employee-registration [EmployeeData]="service.Employee"></app-employee-registration>